return {
	{
		"mason-org/mason-lspconfig.nvim",
		opts = {},
		dependencies = {
			{
				"mason-org/mason.nvim",
				-- opts must be set, otherwise it will not load
				opts = {},
				build = ":MasonUpdate",
				keys = {
					{
						"<leader>cm",
						"<cmd>Mason<cr>",
						desc = "Mason",
					},
				},
			},
			{
				"WhoIsSethDaniel/mason-tool-installer.nvim",
				opts = {
					ensure_installed = {
						-- Helm
						"helm_ls",
						"trivy",
						-- HTML
						"html-lsp",
						-- Java
						"jdtls",
						"java-debug-adapter",
						"java-test",
						-- Lua
						"lua-language-server",
						"luacheck",
						"stylua",
						-- Markdown
						"mdformat",
						-- Python
						"pylsp",
						"pyright",
						{{- if hasKey . "sonar" }}
						-- Sonar
						"sonarlint-language-server",
						{{- end }}
						-- Terraform
						"terraform-ls",
						"terraform",
						"tflint",
					},
					auto_update = true,
				},
			},
			{
				"neovim/nvim-lspconfig",
				config = function()
					vim.lsp.config("*", {
						inlay_hints = {
							enabled = true,
						},
						codelens = {
							enabled = false,
						},
						capabilities = {
							workspace = {
								fileOperations = {
									didRename = true,
									willRename = true,
								},
							},
						},
					})
				end,
				-- stylua: ignore
				keys = {
					{ "<leader>cl", function() Snacks.picker.lsp_config() end, desc = "Lsp Info" },
					{ "gd", vim.lsp.buf.definition, desc = "Goto Definition" },
					{ "gr", vim.lsp.buf.references, desc = "References", nowait = true },
					{ "gI", vim.lsp.buf.implementation, desc = "Goto Implementation" },
					{ "gy", vim.lsp.buf.type_definition, desc = "Goto Type Definition" },
					{ "gD", vim.lsp.buf.declaration, desc = "Goto Declaration" },
					{ "K", function() return vim.lsp.buf.hover() end, desc = "Hover" },
					{ "gK", function() return vim.lsp.buf.signature_help() end, desc = "Signature Help" },
					{ "<leader>ca", vim.lsp.buf.code_action, desc = "Code Action", mode = { "n", "v" } },
					{ "<leader>cc", vim.lsp.codelens.run, desc = "Run Codelens", mode = { "n", "v" } },
					{ "<leader>cC", vim.lsp.codelens.refresh, desc = "Refresh & Display Codelens", mode = { "n" } },
					{ "<leader>cR", function() Snacks.rename.rename_file() end, desc = "Rename File", mode ={"n"} },
					{ "<leader>cr", vim.lsp.buf.rename, desc = "Rename" },
				},
			},
		},
	},
	{
		url = "https://codeberg.org/mfussenegger/nvim-jdtls",
		ft = "java",
		config = function()
			local jdtls = require("jdtls")
			local lombok_path = vim.fn.stdpath("data") .. "/lombok/lombok.jar"
			local config = {
				cmd = {
					"jdtls",
					"--jvm-arg=-javaagent:" .. lombok_path,
				},
			}
			jdtls.start_or_attach(config)
		end,
		-- stylua: ignore
		keys = {
			{ "<leader>cjtc", "<Cmd>lua require('jdtls').test_class()<CR>", desc = "Test class", mode = { "n" } },
			{ "<leader>cjtm", "<Cmd>lua require('jdtls').test_nearest_method()<CR>", desc = "Test method", mode = { "n" } },
			{ "cjrv", "<Cmd>lua require('jdtls').extract_variable()<CR>", desc = "Extract variable", mode = { "n" } },
			{ "cjrc", "<Cmd>lua require('jdtls').extract_constant()<CR>", desc = "Extract constant", mode = { "n" } },
			{ "cjrm", "<Cmd>lua require('jdtls').extract_variable()<CR>", desc = "Extract method", mode = { "n" } },
		},
	},
	{{- if hasKey . "sonar" }}
	{
		"https://gitlab.com/schrieveslaach/sonarlint.nvim",
		ft = "java",
		opts = {
			server = {
				connected = {
					get_credentials = function(client_id, url)
						return {{ (bitwarden "item" .sonar.tokenItemName).login.password | quote }}
					end,
				},
				cmd = {
					"sonarlint-language-server",
					-- Ensure that sonarlint-language-server uses stdio channel
					"-stdio",
					"-analyzers",
					-- paths to the analyzers you need, using those for python and java in this example
					vim.fn.stdpath("data") .. "/mason/share/sonarlint-analyzers/sonarjava.jar",
				},
				settings = {
					sonarlint = {
						connectedMode = {
							connections = {
								sonarqube = {
									{
										connectionId = {{ (bitwarden "item" .sonar.tokenItemName).login.username | quote }},
										-- this is the url that will go into get_credentials
										serverUrl = {{ .sonar.url | quote }},
										disableNotifications = false,
									},
								},
							},
						},
					},
				},
			},
			filetypes = {
				"java",
			},
		},
	},
	{{- end }}
}
